body{
    background-color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

table{
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}